html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.but{

  color: #2609ef;
  margin-left: 120PX;
  font-style: oblique;
}
.apbie
{
	color: #2609ef;
	margin-left: 90PX;
  font-style: oblique;
}
.bhsed
{
	color: #2609ef;
  margin-left: 210PX;
  font-style: oblique;
}
.but1{

  color: #2609ef;
  margin-left: 220PX;
  font-style: oblique;
}
.asb{

  color: #2609ef;
  margin-left: 160PX;
  font-style: oblique;
}

.bbose{

  color: #2609ef;
  margin-left: 290PX;
  font-style: oblique;
}
.bseb{

  color: #2609ef;
  margin-left: 310PX;
  font-style: oblique;
}
.cbose{

  color: #2609ef;
  margin-left: 120PX;
  font-style: oblique;
}
.gbshse{

  color: #2609ef;
  margin-left: 200PX;
  font-style: oblique;
}
.hbse{

  color: #2609ef;
  margin-left: 10PX;
  font-style: oblique;
}
.hpsos{

  color: #2609ef;
  margin-left: 110PX;
  font-style: oblique;
}
.jksos{

  color: #2609ef;
  margin-left: 10PX;
  font-style: oblique;
}
.kseeb{

  color: #2609ef;
  margin-left: 300PX;
  font-style: oblique;
}
.ksos{

  color: #2609ef;
  margin-left: 150PX;
  font-style: oblique;
}
.mpsos{

  color: #2609ef;
  margin-left: 140PX;
  font-style: oblique;
}
.nbse{

  color: #2609ef;
  margin-left: 210PX;
  font-style: oblique;
}
.obse{

  color: #2609ef;
  margin-left: 210PX;
  font-style: oblique;
}
.pseb{

  color: #2609ef;
  margin-left: 50PX;
  font-style: oblique;
}
.rsos{

  color: #2609ef;
  margin-left: 190PX;
  font-style: oblique;
}
.tbie{

  color: #2609ef;
  margin-left: 190PX;
  font-style: oblique;
}
.tbse{

  color: #2609ef;
  margin-left: 160PX;
  font-style: oblique;
}.ubse{

  color: #2609ef;
  margin-left: 10PX;
  font-style: oblique;
}
.wbbpe{

  color: #2609ef;
  margin-left: 190PX;
  font-style: oblique;
}
.wbchse{

  color: #2609ef;
  margin-left: 120PX;
  font-style: oblique;
}
.mspd{

  color: #2609ef;
  margin-left: 30PX;
  font-style: oblique;
}
body {
  background-color: #ecf0f1;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  padding-top: 200px;
  -moz-transition: padding-top 0.5s ease;
  -o-transition: padding-top 0.5s ease;
  -webkit-transition: padding-top 0.5s ease;
  transition: padding-top 0.5s ease;
}

header {
  width: 100%;
  height: 170px;
  background-color: #2609ef;
  text-align: center;
  position: relative;
  position: fixed;
  top: 0;
  overflow: hidden;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header h1 {
  font-size: 42px;
  color: #fff;
  line-height: 80px;
  text-transform: uppercase;
  font-weight: 100;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header p{
	color: black;
}
header nav {
  position: absolute;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
header nav a {
  color: #fff;
  display: inline-block;
  padding: 20px 20px 20px 20px;
  line-height: 1;
  text-decoration: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  float: left;
}
header nav a:hover {
  -moz-box-shadow: 0 0 0 1px #fff;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
}

h2 {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 2;
  color: #2c3e50;
}

p {
  margin-bottom: 2rem;
  line-height: 2;
  color: #7f8c8d;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

section {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

/* Sticky Header Style */
/* ---------------------------------------- */
body.sticky-header {
  padding-top: 100px;
}
body.sticky-header header {
  height: 60px;
  background-color: rgba(52, 152, 219, 0.9);
}
body.sticky-header header h1 {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

